/* font-style */
*{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  /* heading name & btn style */

  nav{
    display: flex;
    justify-content: space-between;
    color: #0D1321;
  }
  .btn{
    margin-right: 150px;
    border: 1px solid black;
    border-radius: 8px;
    background: none;
    padding: 17px 24px;
    margin-top: 38px;
    
  }
  .name{
    margin-left: 150px;
    font-weight: 800;
    font-size: 28px;
    margin-top: 50px;
  }
  nav ul li{
    list-style: none;
  }
  /* banner style start */
  .banner{
    width: 1440px;
    margin: 0 auto;
    min-height: 652px;
    border: 2px solid black;
    margin-top: 36px;
    background-image: url("/assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }
  .info{
      font-size: 48px;
      font-weight: 800;
    /* justify-content: center; */
  }
  .chotu-mia{
    margin-top: 26px;
  }
  .btn-2{
    background:#0D1321;
    width: 244;
    height: 65px;
    padding: 21px 24px;
    color: #ffffff;
    font-weight: 600;
    font-size: 26px;
  }
  
  
